### ! - Run Shell commands

In [1]:
!python --version

Python 3.8.10

In [2]:
!ls

01_Basic.ipynb

### Arithmetic Operations - BODMAS rule

In [3]:
7 + 9

16

In [4]:
20 + 47

67

In [5]:
27.5 + 9.4 + 2

38.9

In [6]:
17-10

7

In [7]:
23.6 - 13.6

10.000000000000002

In [8]:
27.5 + 9.4 - 13

23.9

In [9]:
2 * 6

12

In [10]:
10 * 5.5

55.0

In [11]:
2 * 3 * 1 + 2

8

In [12]:
2 * 3 * (1 + 2)

18

In [13]:
10 ** 2

100

In [14]:
2 ** 4

16

In [15]:
10 / 5

2.0

In [17]:
10 // 5

2

In [18]:
11 / 5

2.2

In [19]:
11 // 5

2

In [21]:
10.5 // 3

3.0

In [20]:
50 % 4

2

In [22]:
50 % 5

0

In [23]:
40.5 - 2 * (4 + 7) / 4

35.0

In [24]:
(40.5 * 10 - 20 * (4 + 7)) / 5

37.0

In [25]:
"Hello world!" * 3

'Hello world!Hello world!Hello world!'

In [26]:
"Hello" + 3

TypeError: can only concatenate str (not "int") to str

### Built_In_Functions_In_Python

In [27]:
"Hello world!"

'Hello world!'

In [28]:
print("Hello world!")

Hello world!

In [29]:
print "Hello world" --> # works in python 2

SyntaxError: Missing parentheses in call to 'print'. Did you mean print("Hello world")? (107042682.py, line 1)

In [30]:
print('Hello world!')

Hello world!

In [31]:
print(Hello world)

SyntaxError: invalid syntax (3449611317.py, line 1)

In [32]:
len("Hello world!")

12

In [33]:
print(5+4)

9

In [34]:
print("5+4")

5+4

In [35]:
print(4.5 - 2 * (4 + 7))

-17.5

In [36]:
abs(17)

17

In [37]:
abs(-17)

17

In [38]:
print(abs(4.5 - 2 * (4 + 7)))

17.5

In [39]:
type(17.5)

float

In [40]:
type(17)

int

In [41]:
type("hello world!")

str

In [42]:
type('a')

str

In [43]:
type("123")

str

In [44]:
type(123)

int

In [45]:
round(17.7)

18

In [46]:
round(17.5)

18

In [47]:
round(17.499999)

17

In [48]:
max(1,2,3,4,5,12,5,6,7)

12

In [49]:
min(1,2,3,4,5,12,5,6,7)

1

In [52]:
len([1,2,3,4,5,12,5,6,7])

9

### Variables

In [53]:
24000

24000

In [54]:
24000 - 10000

14000

In [55]:
14000 - 5000

9000

In [56]:
salary = 24000

In [57]:
salary

24000

In [58]:
house_rent = 10000

food_exp = 5000

In [59]:
house_rent

10000

In [60]:
food_exp

5000

In [61]:
total_expense = house_rent + food_exp

total_expense

15000

In [62]:
savings = salary - total_expense

In [64]:
savings

9000

In [65]:
print("My savings in a year is:",savings)

My savings in a year is: 9000

In [66]:
course_fee = 299
num_of_months = 6

### Charecter allowed in variable names - A-Z, a-z, 0-9 and "_"
#### Vaiable name cannot start with a digit

In [67]:
total_fee = course_fee * num_of_months
print(total_fee)

1794

In [68]:
num_1 = 2
num_2 = 2

In [69]:
print(num_1 + num_2)

4

In [70]:
total = num_1 + num_2
total

4

In [71]:
"day"+"light"

'daylight'

In [72]:
num_1 = 2
num_2 = '2'

In [73]:
num_1+num_2

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [74]:
type(num_1)

int

In [75]:
type(num_2)

str

In [76]:
x = True
y = False

In [77]:
print('x and y is:', x and y)

x and y is: False

In [78]:
x and y

False

In [79]:
x or y

True

In [80]:
print('not x is:', not x)

not x is: False

In [81]:
not x

False

In [82]:
not y

True

In [83]:
x = 'awesome'
x

'awesome'

In [84]:
print("python is "+x)

python is awesome

In [89]:
x = "python is "
y = "awesome "

In [90]:
z = x + y
print(z)

python is awesome

In [91]:
a = z *4
print(a)

python is awesome python is awesome python is awesome python is awesome

In [92]:
len(x)

10

In [93]:
len(y)

8

In [94]:
len(z)

18

In [95]:
x = y = z = "Python"

In [96]:
print(x)
print(y)
print(z)

Python
Python
Python

In [97]:
b = x+y

In [98]:
b

'PythonPython'

### Comparision Operators

In [99]:
x = y == z
print(x)

True

In [100]:
a,b,c=5,3.2,"Hello"

In [101]:
print(a)
print(b)
print(c)

5
3.2
Hello

In [102]:
color_a = 'Red'
color_b = 'Blue'

In [103]:
print(color_a)
print(color_b)

Red
Blue

In [104]:
color_c =  color_a
print(color_a,color_b,color_c)

Red Blue Red

In [105]:
color_a = color_b

In [106]:
print(color_a,color_b,color_c)

Blue Blue Red

In [107]:
n1 = 34
n2 = 34.5
n3 = 100

In [108]:
s1 = 'hello'
s2 = 'world'

In [109]:
total_n = n1+n2+n3
total_n

168.5

In [110]:
n1 = n1+1

In [111]:
n1

35

In [112]:
n2 = n2+10
n2

44.5

In [113]:
n3 = n3 - 50
n3

50

In [114]:
n3 = n3 * 50
n3

2500

In [115]:
n3 = n3/50
n3

50.0

In [116]:
n1

35

In [117]:
n1 += n1+1

In [118]:
n1

71

In [119]:
n2

44.5

In [120]:
n2+=10
print(n2)

54.5

In [121]:
print(n3)
n3*=50
print(n3)

50.0
2500.0

In [123]:
print(n3)
n3/=50
print(n3)

2500.0
50.0

In [124]:
concat_string = s1 +s2
concat_string

'helloworld'

In [125]:
s1 = s1 + 'yoohoo'
s1

'helloyoohoo'

In [126]:
s2 = s2 + 'Yippee'
s2

'worldYippee'

In [127]:
new_s1 = s1
new_s1

'helloyoohoo'

In [128]:
s1 = "some other value"
s1

'some other value'

In [129]:
new_s1

'helloyoohoo'

In [130]:
some_n = n3 
some_n

50.0

In [131]:
n3 *=1000
n3

50000.0

In [132]:
some_n

50.0

### DataTypes

In [133]:
type(23)

int

In [134]:
type(25.5)

float

In [135]:
type('hello')

str

In [136]:
x = 25
print("Data type of",x,'is',type(x))

Data type of 25 is <class 'int'>

In [142]:
y = 1.2
print("Data type of",y,'is',type(y))

Data type of 1.2 is <class 'float'>

In [144]:
z = 5j
print("Data type of",z,'is',type(z))

Data type of 5j is <class 'complex'>

In [143]:
print(5j * 5j)

(-25+0j)

In [145]:
boolean_value = True
type(boolean_value)

bool

In [146]:
str_value = "hello"
type(str_value)

str

In [147]:
print(0b101)

5

In [148]:
value = 0b101
print(value)

5

In [149]:
print('I am a single quoted string')

I am a single quoted string

In [150]:
print("I am a single quoted string")

I am a single quoted string

In [152]:
print("python " + 'is ' + """awesome""")

python is awesome

In [153]:
print("python "*3)

python python python

In [154]:
print("python"-3)

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [19]:
question = "what did you have for lunch"
answer = input()
print(answer)

hello

In [1]:
print('i'm learning python)

SyntaxError: invalid syntax (3607148448.py, line 1)

In [2]:
print("i'm learning python")

i'm learning python

In [3]:
print('John said "Hello there!"')

John said "Hello there!"

In [4]:
print('I\'m learning python')

I'm learning python

In [5]:
print("John said \"Hello there!\"")

John said "Hello there!"

In [6]:
print("Hello John! \nHow are you")

Hello John!
How are you

In [7]:
print("This is a very long line\nbut we can have it span \nmultiple lines")

This is a very long line
but we can have it span
multiple lines

In [8]:
print("""I am a triple quoated string""")

I am a triple quoated string

In [9]:
print("""This is also a very long string
but we can span multiple 
lines""")

This is also a very long string
but we can span multiple
lines

In [10]:
print("This is also a very long string
but we can span multiple 
lines")

SyntaxError: EOL while scanning string literal (1613627314.py, line 1)

In [11]:
my_var = 'barks'
print('a dog '+my_var+'!')

a dog barks!

In [12]:
print(f'A dog {my_var}!')

A dog barks!

In [13]:
print('A dog {my_var}!')

A dog {my_var}!

In [14]:
print('A dog {}!'.format(my_var))

A dog barks!

In [15]:
print("john asked \t 'How are you?'")

john asked 	 'How are you?'

In [16]:
print("hello \t World")

hello 	 World

In [17]:
print('C:\\Users\\Q')

C:\Users\Q