In [2]:
print("My name is saiteja")
print("I live in hyd")
print("I am a data analyst and I love what I do!")

My name is saiteja
I live in hyd
I am a data analyst and I love what I do!

In [3]:
def my_indroduction():
    print("My name is saiteja")
    print("I live in hyd")
    print("I am a data analyst and I love what I do!")

In [6]:
my_indroduction()

My name is saiteja
I live in hyd
I am a data analyst and I love what I do!

In [7]:
my_indroduction()

My name is saiteja
I live in hyd
I am a data analyst and I love what I do!

In [8]:
def hello_world():
    print("Welcome to Python!")
print("This is outside the function")

This is outside the function

In [9]:
hello_world()

Welcome to Python!

In [10]:
my_new_function()

NameError: name 'my_new_function' is not defined

In [12]:
def my_new_function():
    print("This is new function")
my_new_function()

This is new function

In [13]:
def will_not_work_function():
print("this indentation is all wrong")

IndentationError: expected an indented block (1622993328.py, line 2)

In [14]:
def will_work_function():
    print("This indentation is all right")
    if 10>5:
        print("Well 10 is greater than 5")

In [15]:
will_work_function()

This indentation is all right
Well 10 is greater than 5

In [16]:
def a_more_complicated_function():
    for i in range(10):
        print("i is now: ",i)

In [17]:
a_more_complicated_function()

i is now:  0
i is now:  1
i is now:  2
i is now:  3
i is now:  4
i is now:  5
i is now:  6
i is now:  7
i is now:  8
i is now:  9

In [18]:
def _Functions_Can_Be_NamedLikeThis_123():
    print("This works")

In [19]:
_Functions_Can_Be_NamedLikeThis_123()

This works

In [20]:
def 123this_does_not_work():
    print("This does not work")

SyntaxError: invalid syntax (565532020.py, line 1)

In [21]:
def documentated_function():
    """This function does something that is well docuemnted""" 
    print("Hello")

In [22]:
documentated_function()

Hello

In [23]:
documentated_function

In [24]:
documentated_function.__doc__

'This function does something that is well docuemnted'

In [25]:
another_function = documentated_function

In [26]:
another_function()

Hello

In [27]:
another_function

In [28]:
documentated_function()

Hello

In [29]:
documentated_function

In [30]:
name = "saiteja"
city = "hyd"

In [31]:
def introduction():
    print("My name is: ",name)
    print("I live in: ",city)

In [32]:
introduction()

My name is:  saiteja
I live in:  hyd

In [34]:
name = "teja"
city = "hyderabad"

In [35]:
introduction()

My name is:  teja
I live in:  hyderabad

In [36]:
"a"+2

TypeError: can only concatenate str (not "int") to str

In [37]:
def function_with_error():
    result = 'a'+2
    print(result)

In [38]:
function_with_error()

TypeError: can only concatenate str (not "int") to str

In [39]:
def my_indroduction():
    print("Hello, my name is saiteja")
    print("I live and work in hyderabad")

In [40]:
my_indroduction()

Hello, my name is saiteja
I live and work in hyderabad

In [44]:
def introduction(name):
    print("Hello, my name is", name)
    print("I live and work in hyd")

In [45]:
introduction("teja")

Hello, my name is teja
I live and work in hyd

In [46]:
introduction("sai")

Hello, my name is sai
I live and work in hyd

In [47]:
def introduction(name,city):
    print("Hello, my name is", name)
    print("I live and work in",city)

In [48]:
introduction("teja","Hyd")

Hello, my name is teja
I live and work in Hyd

In [49]:
introduction("saiteja","Banglore")

Hello, my name is saiteja
I live and work in Banglore

In [50]:
introduction("Hyd", "saiteja")

Hello, my name is Hyd
I live and work in saiteja

In [51]:
def test():
    print("test")

In [52]:
test("hello")

TypeError: test() takes 0 positional arguments but 1 was given

In [53]:
def test1(name):
    print(name)

In [54]:
test1("hello")

hello

In [55]:
test1("hello", "world")

TypeError: test1() takes 1 positional argument but 2 were given

In [56]:
def square(x):
    print("The square of",x,"is",x*x)

In [57]:
square(3)

The square of 3 is 9

In [58]:
square(10001)

The square of 10001 is 100020001

In [59]:
square("hello")

TypeError: can't multiply sequence by non-int of type 'str'

In [60]:
num=25
square(num)

The square of 25 is 625

In [61]:
another_num=100
square(num)
square(another_num)

The square of 25 is 625
The square of 100 is 10000

In [62]:
salary = 1000
expense = 300
def my_savings(a,b):
    print("My total savings",salary-expense)

In [63]:
my_savings(1000,300)

My total savings 700

In [64]:
my_savings(10000,1000)

My total savings 700

In [65]:
def my_actual_savings(a,b):
    print("My total savings",a-b)

In [66]:
my_actual_savings(10000,1000)

My total savings 9000

In [67]:
salary = 2000
expense = 700
def calculate_savings(salary,expense):
    print("My savings are:",salary-expense)

In [68]:
calculate_savings(100,30)

My savings are: 70

In [70]:
calculate_savings(200,40)

My savings are: 160

In [71]:
calculate_savings(salary,expense)

My savings are: 1300

In [72]:
salary

2000

In [73]:
expense

700

In [74]:
total_salary = 4000
total_expense = 2500
calculate_savings(total_salary,total_expense)

My savings are: 1500

In [77]:
def print_many_times(string,times):
    for i in range(times):
        print(string)

In [78]:
print_many_times("skillsoft",5)

skillsoft
skillsoft
skillsoft
skillsoft
skillsoft

In [79]:
print_many_times(5,"skillsoft")

TypeError: 'str' object cannot be interpreted as an integer

In [80]:
def print_many_times_with_doc(string,time):
    """
    first argument takes string value and second argument takes int
    this does not return any values
    """

In [81]:
print(print_many_times_with_doc.__doc__)

    first argument takes string value and second argument takes int
    this does not return any values

In [82]:
def print_higher_number(a,b):
    if a>b:
        print("Higher number is",a)
    else:
        print("higher number is",b)

In [83]:
print_higher_number(10,20)

higher number is 20

In [85]:
def print_higher_number_with_error(a,b):
    if a>b:
        print("Higher number is",a)
    else:
        print("higher number is",b)
        result = b+'a'

In [86]:
print_higher_number_with_error(10,5)

Higher number is 10

In [87]:
print_higher_number_with_error(5,10)

higher number is 10

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [88]:
def multiply(num1,num2,num3):
    print("multiplicatio result", num1*num2*num3)

In [89]:
multiply(1,2.5,4)

multiplicatio result 10.0

In [90]:
multiply(1,2,3,4)

TypeError: multiply() takes 3 positional arguments but 4 were given

In [94]:
def length(some_list):
    count = 0
    for element in some_list:
        count+=1
    print("The length of the list is",count)

In [95]:
num_list=[1,4,3,5,6,3,2]
length(num_list)

The length of the list is 7

In [96]:
cars_list = ["toyoto","honda","ford","hyundai"]
length(cars_list)

The length of the list is 4

In [97]:
length([1,2,3,4,5,6])

The length of the list is 6

In [98]:
num_cars = length(cars_list)

The length of the list is 4

In [99]:
num_cars

In [100]:
print(num_cars)

None

In [101]:
def subtract(num1,num2):
    result = num1-num2

In [102]:
subtract(10,7.7)

In [103]:
r = subtract(100,50)

In [104]:
r

In [105]:
print(r)

None

In [106]:
type(r)

NoneType

In [108]:
def subtract_returns_none_by_default(num1,num2):
    result = num1-num2
    return None

In [110]:
r = subtract_returns_none_by_default(20,10)
print(r)

None

In [111]:
type(r)

NoneType

In [112]:
def subtract_with_returns_a_result(num1,num2):
    result = num1-num2
    return result

In [114]:
r=subtract_with_returns_a_result(30,10)
print(r)

20

In [115]:
def length(some_list):
    count=0
    for element in some_list:
        count+=1
    print("The length of the list is",count)
    return count

In [116]:
l= length([1,2,3])

The length of the list is 3

In [117]:
l

3

In [118]:
def find_max_in_list(some_list):
    max_element = some_list[0]
    length = len(some_list)
    for i in range(1, length):
        if some_list[i]>max_element:
            max_element=some_list[i]
    return max_element

In [120]:
find_max_in_list([3,2,6,7,4,9])

9

In [121]:
num_list.append(20)

In [122]:
print(find_max_in_list(num_list))

20

In [123]:
def empty_return(x,y):
    total = x+y
    return

In [124]:
result = empty_return(1,2)
print(result)
print(type(result))

None
<class 'NoneType'>

In [125]:
def add_sub(x,y):
    add_result = x+y
    sub_result = x-y 
    return add_result, sub_result

In [126]:
add_sub(10,5)

(15, 5)

In [127]:
type(add_sub(10,5))

tuple

In [128]:
add,sub=add_sub(10,6)

In [129]:
print(add)
print(sub)

16
4

In [130]:
add1, _ = add_sub(10,5)

In [131]:
add1

15

In [132]:
_

5

In [133]:
def positive_or_negative(num):
    if num>0:
        print("positive")
    else:
        print("negative")

In [134]:
positive_or_negative(20)

positive

In [135]:
positive_or_negative(0)

negative

In [136]:
positive_or_negative(-10)

negative

In [137]:
def positive_negative_zero(num):
    if num>0:
        print("positve")
    elif num<0:
        print("negative")
    else:
        print("zero")

In [138]:
positive_negative_zero(10)

positve

In [139]:
positive_negative_zero(0)

zero

In [140]:
positive_negative_zero(-10)

negative